<div class="modal fade" id="mPassword" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="/profile/password" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="modal-header">
          <h5 class="modal-title">
            <i class="bi bi-key me-2 text-warning"></i>Alterar Senha
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="current-password" class="form-label">Senha atual</label>
            <input
              type="password"
              class="form-control"
              id="current-password"
              name="currentPassword"
              required
            >
          </div>

          <div class="mb-3">
            <label for="new-password" class="form-label">Nova senha</label>
            <input
              type="password"
              class="form-control"
              id="new-password"
              name="newPassword"
              required
            >
          </div>

          <div class="mb-3">
            <label for="confirm-password" class="form-label">Confirmar nova senha</label>
            <input
              type="password"
              class="form-control"
              id="confirm-password"
              name="confirmPassword"
              required
            >
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" class="btn btn-warning">
            Alterar senha
          </button>
        </div>
      </form>
    </div>
  </div>
</div>